.ipynb_checkpoints
S2-COMP6248-DL/Lab6/data/
S2-COMP6248-DL/Lab6/__MACOSX/
S2-COMP6248-DL/Lab6/boat-data.zip
S2-COMP6248-DL/Lab7/.data/
S2-COMP6248-DL/Lab7/.vector_cache/
S2-COMP6248-DL/Lab8/data/
S2-COMP6247-RL/CW3/LaTeX/gif/
**/.neptune/
